<div class="container">
  <form [formGroup]="cadastro">
    <div class="col-sm-10">
      <select
        class="form-control"
        aria-label="Default select example"
        formControlName="produto"
        (change)="ngOnChange(cadastro.value.produto)"
      >
        <option value="null" disabled selected>Selecione um Produto</option>
        <option *ngFor="let prod of produto" [ngValue]="prod">
          {{ prod.nome }}
        </option>
      </select>
    </div>
    <button (click)="filtrarProduto()"><mat-icon>search</mat-icon></button>
  </form>
</div>
