.container{
    margin-top: 20px;
    width: 350px;
}

form{
    display: flex;
    justify-content: center;
}

button{
    border: none;
    border-radius: 3px;
    background-color: #0073AE;
    margin-left: 5px;
    color: #fff;
    font-weight: 400;
    font-size: 0.7rem;
    padding: 5px;
    flex: 1 1 300px;
}

button:hover{
    background-color: #165777;

}