.footer {
  position: fixed;
  bottom: 0;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 30px;

  color: #fff;
  background-color: #0073ae;
  box-shadow: 1px 1px 10px rgb(69, 102, 248);
}

.icons  {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.git{
  height: 23px;
}

