<div class="img-fundo">
  <div class="container">
    <form class="form-floating">
      <input
        type="email"
        class="form-control is-invalid"
        id="floatingInputInvalid"
        placeholder="name@example.com"
      />
      <label for="floatingInputInvalid">Procurar</label>
      <div class="box-content">
        <div class="title">
          <mat-icon class="icon">search</mat-icon>
        </div>
        <div class="container-valores">
          <div>
            <h3>Produto</h3>
          </div>
          <div>
            <h3>Nome</h3>
          </div>
          <div>
            <h3>R$ Valor</h3>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
