

.container {
  max-width: 450px;
  margin-top: 50px;
}

.box-content {
  margin-top: 20px;
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.icon {
    width: 100px;
}
