<app-header></app-header>
<div class="box-container">
  <div class="container">
    <div class="container-botao">
      <div class="criar">
        <a routerLink="#"> Criar </a>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prod of produtos">
          <td>{{ prod.id }}</td>
          <td>{{ prod.nome }}</td>
          <td>{{ prod.valor | currency: "R$ " }}</td>
          <td>
            <div class="botao-excluir">
              <a (click)="abrirModalExcluir()"> Excluir</a>
            </div>
          </td>
          <td>
            <div>
              <a ><mat-icon class="botao-editar">edit</mat-icon></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-footer></app-footer>