<div class="img-fundo">
  <div id="login">
    <form [formGroup]="formLogin" class="card">
      <div class="img-logo">
        <img
          src="../../assets/img-projeto-final/atos-logo-1.png"
          alt="Logo empresa Atos"
        />
        <h1>DashBoard</h1>
      </div>
      <div class="card-content">
        <div class="card-content-area">
          <input formControlName="nome" type="text" placeholder="Login" />
        </div>
        <div class="card-content-area">
          <input formControlName="senha" type="password" placeholder="Password" />
        </div>
      </div>
      <div class="card-footer">
        <input class="botao-login" type="button" (click)="logar()" value="Login"  />
        <a href="#" class="recuperar_senha">Esqueceu sua senha?</a>
        <a routerLink="/criarLogin" class="criar-conta">Criar conta</a>
      </div>
    </form>
  </div>
</div>
