<div class="img-fundo">
  <div id="login">
    <form class="card">
      <div class="img-logo">
        <img
          src="../../assets/img-projeto-final/atos-logo-1.png"
          alt="Logo empresa Atos"
        />
        <h1>DashBoard</h1>
      </div>
      <div class="card-content">
        <div class="card-content-area">
          <input type="text" placeholder="Login" />
        </div>
        <div class="card-content-area">
          <input type="password" placeholder="Password" />
        </div>
      </div>
      <div class="card-footer">
        <input class="botao-login" type="submit" value="Login" class="submit" />
        <a href="#" class="recuperar_senha">Esqueceu sua senha?</a>
      </div>
    </form>
  </div>

  <!-- <button class="btn btn-success" [routerLink]="['/dashboard']">
    qualquer nome
  </button> -->
</div>
