.img-fundo {
  background-image: url("../../../assets/img-projeto-final/img-fundo.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(252, 252, 252, 0.884);
  width: 30rem;
  height: 30rem;

  border-radius: 15px;
}

.card-content-area input{
  margin: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid silver;
  font-size: 1.4rem;
}

#login .img-logo {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgba(165, 165, 165, 0.849);
}

#login .img-logo {
  margin-bottom: 40px;
}

#login .img-logo img {
  height: 80px;
}

.card-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
}

.card-footer input{
  background-color: #0073AE;
  border-radius: 8px;
  color: white;
  font-weight: 500;
}

.card-footer a{
  margin-top: 10px;
  color: rgb(141, 137, 137);
}
.card-footer a:hover{
  margin-top: 10px;
  color: #0073AE;
}
