<div class="img-fundo">
  <div class="container">
    <form [formGroup]="formularioUsuario" class="box-usuario">
      <div class="box-logo">
        <img
          class="logo"
          src="../../../assets/img-projeto-final/atos-logo-1.png"
          alt=""
        />
        <h3>Criar Usuário</h3>
      </div>
      <div class="box-input">
        <input formControlName="nome" type="text" placeholder="Usuário" />
      </div>
      <div class="box-input">
        <input formControlName="email" type="email" placeholder="Email" />
      </div>
      <div class="box-input">
        <input formControlName="senha" type="password" placeholder="Password" />
      </div>
      <div (click)="criarUsuario()" class="box-botao">
        <input   type="button" value="Criar" />
      </div>
      <a routerLink="/login">Voltar</a>
    </form>
  </div>
</div>
