.img-fundo {
  background-image: url("../../../assets/img-projeto-final/img-criar-conta.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(252, 252, 252, 0.884);
  width: 30rem;
  height: 30rem;

  border-radius: 15px;
}

.box-usuario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  width: 100%;
}

.box-usuario h1 {
  color: rgba(165, 165, 165, 0.849);
}

.box-usuario a {
    color: #0073ae;
    margin-top: 30px;
    font-size: 0.9  rem;
}

.box-usuario a:hover {
    color: #0c5980;
}

.box-logo {
  text-align: center;
  color: #b2b2b2;
  font-size: 1.2rem;
  margin-bottom: 50px;
}
.logo {
  height: 80px;
}

.box-input input {
  margin: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid silver;
  font-size: 1.4rem;
}

.box-botao input{
    width: 150px;
    height: 30px;
    margin: 10px;
    border-radius: 10px;
    color: #fff ;
    background-color: #0073ae;
    font-size: 1rem;
    font-weight: 500;
}
.box-botao input:hover{
    background-color: #0b6491;
}


