

.container{
    height: 100vh;
    display: flex;
    align-items: baseline;
    justify-content:center ;
    max-width: 600px;
}

video{
  width: 900px;
}

.box-carrossel{
    display: flex;
    align-items: initial;
    justify-content:center ;
    background-color: black;
    border-radius: 15px;
    margin-top: 20px;
}
